Red voznje: <select class="browser-default custom-select">
  <option selected value="1">Gradski</option>
  <option value="2">Prigradski</option>
</select>
Dan: <select class="browser-default custom-select">
  <option value="1">Radni dan</option>
  <option value="2">Subota</option>
  <option value="3">Nedelja</option>
</select>
Linija: <select #lineSelector (change)='selectLine($event)' size=5 class="browser-default custom-select">
  <option *ngFor='let line of lineList' [value]='line.Id'>
    {{line.Number}} {{line.Name}}
  </option>
</select>
<button class='btn btn-primary' [disabled]='!selectedLine' (click)='showDepartureTime()'>PRIKAZI</button>
<div *ngIf='showTime'>
  <div>
    Linija: {{this.selectedLine.Number}} {{this.selectedLine.Name}}
  </div>
  <table class="table table-bordered table-dark" width=100%>
    <tbody>
      <tr>
        <th>SMER A</th>
        <th>SMER B</th>
      </tr>
      <tr>
        <td>
          <span *ngFor='let time of this.DirectionA'>{{time}}<br /></span>
        </td>
        <td>
          <span *ngFor='let time of this.DirectionB'>{{time}}<br /></span>
        </td>
      </tr>
    </tbody>
  </table>
</div>