Red voznje: <select class="browser-default custom-select">
  <option value="1">Gradski</option>
  <option value="2">Prigradski</option>
</select>
Dan: <select class="browser-default custom-select">
  <option value="1">Radni dan</option>
  <option value="2">Subota</option>
  <option value="3">Nedelja</option>
</select>
Linija: <select (change)="selectLine($event)" size=5 class="browser-default custom-select">
  <option *ngFor='let line of lineList' [value]='line.id'>
    {{line.lineNumber}} {{line.name}}
  </option>
</select>
<button class='btn btn-primary' (click)='showDepartureTime()'>PRIKAZI</button>
<div *ngIf='showTime'>
  <div>
    Linija: 1 KLISA-CENTAR
  </div>
  <table class="table table-bordered table-dark" width=100%>
    <tbody>
      <tr>
        <th>SMER A</th>
        <th>SMER B</th>
      </tr>
      <tr>
        <td>
          <span *ngFor='let time of this.selectedLine.departureTime'>{{time}}<br /></span>
        </td>
        <td>
          <span *ngFor='let time of this.selectedLine.departureTime'>{{time}}<br /></span>
        </td>
      </tr>
    </tbody>
  </table>
</div>