Tip karte: <select class="browser-default custom-select" (change)='selectCard($event)'>
  <option *ngFor='let card of cardTypes'>
    {{card}}
  </option>
</select>
Tip kupca: <select class="browser-default custom-select" (change)='selectPassenger($event)'>
  <option *ngFor='let passenger of passengerTypes'>
    {{passenger}}
  </option>
</select>
<div>
  {{this.selectedCard}} {{this.selectedPassenger}}
</div>
<table class="table table-bordered table-dark" width=100%>
  <tbody>
    <tr>
      <th>Cena</th>
      <th>PDV [%]</th>
      <th>Ukupno</th>
    </tr>
    <tr>
      <td>{{this.price.Cost}}</td>
      <td>{{this.pdv}}</td>
      <td>{{this.calculateFinalSum(this.price.Cost, this.pdv)}}</td>
    </tr>
  </tbody>
</table>