a:visited {
  color: white !important;
} /* Visited link    */
a:hover {
  color: yellow !important;
  cursor: pointer;
} /* Mouse over link */
a:active {
  color: white !important;
} /* Selected link   */

.custom_navbar {
  background-color: #3463ad;
  color: white;
}
