<nav class="navbar navbar-expand-sm   navbar-light bg-light">
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="/rides">Red voznje <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/lineMap">Mreza linija</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/locations">Trenutna lokacija</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/priceList">Cenovnik</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">Ulogujte se</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/register">Registrujte se</a>
      </li>
      <div *ngIf='isLoggedIn | async'>
        <li class="nav-item">
          <a class="nav-link" (click)='onLogout()'>Odjavite se</a>
        </li>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="admin/lines">Uredi linije</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="admin/stations">Uredi stanice</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="admin/prices">Uredi cene</a>
          </li>
        </ul>
      </div>
    </ul>
  </div>
</nav>